Repository Finastra/finastra-nodejs-libs: changes, and which Codecov flags are due for each by the changed paths.
All: oidc, proxy

codecov.yml:

coverage:
  range: '70...100'
  status:
    project:
      target: 80%
      threshold: 5%
    oidc:
      flags:
        - oidc
      target: 80%
    proxy:
      flags:
        - oidc
      target: 80%
    patch:
      default:
        target: 80%

flags:
  oidc:
    paths:
      - libs/oidc/src
  proxy:
    paths:
      - libs/proxy/src

comment: false

feat(proxy): make module dynamic to allow passing async options
  README.md
  libs/proxy/README.md
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/proxy.module.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/proxy-config.service.ts
Due: proxy

build(proxy): Add proxy to package matrix
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
Due: none

test(proxy): unit test for proxy
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

build(codecov): fix codecov.yml
  codecov.yml
Due: none

test(proxy): test utilities
  libs/proxy/src/utils/string.utils.spec.ts
  libs/proxy/src/utils/url.utils.spec.ts
  libs/proxy/src/utils/url.utils.ts
Due: proxy

test(proxy): tests for controller
  libs/proxy/src/controllers/proxy.controller.spec.ts
Due: proxy

test(proxy): base tests for proxy module
  libs/proxy/src/proxy.module.spec.ts
Due: proxy

build(workflow): test removing matrix of package to see if codecov
  .github/workflows/pr-build.yml
Due: none

update codecov config
  .github/workflows/pr-build.yml
  codecov.yml
Due: none

test(proxy): Add tests for module
  libs/proxy/src/proxy.module.spec.ts
Due: proxy

build(workflows): fix name of jobs
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
Due: none

codecov config
  codecov.yml
Due: none

update codecov
  codecov.yml
Due: none

build(workflows): Post coverage on coveralls
  .github/workflows/develop.yml
  .github/workflows/pr-build.yml
Due: none

build(codecov): fix config
  codecov.yml
Due: none

build(codecov): Add comments since status checks don't work
  codecov.yml
Due: none

build(security): fix minimist vulnerability
  package-lock.json
  package.json
Due: none

Add resource parameter in oidc config
  libs/oidc/README.md
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  src/app.module.ts
Due: oidc

doc
  libs/oidc/README.md
Due: none

docs(oidc): Move optional parameters to the end
  libs/oidc/README.md
Due: none

Update description for resource option
  libs/oidc/README.md
Due: none

Change version and add changelog
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  package.json
Due: none

fix(oidc): Generate random secret if not provided via env var
  .vscode/extensions.json
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/src/utils/setup-session.ts
Due: oidc

docs(proxy): Add link to http-proxy documentation
  libs/proxy/README.md
  libs/proxy/src/interfaces/proxy.interface.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

build(proxy): Fix dependencies
  libs/proxy/package.json
Due: none

feat(oidc): Make params closer to openid-client lib
  libs/oidc/CHANGELOG.md
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/mocks.ts
  libs/oidc/src/oidc.constants.ts
  libs/oidc/src/oidc.module.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/oidc/src/utils/merge-defaults.util.spec.ts
  libs/oidc/src/utils/merge-defaults.util.ts
  package.json
  src/app.module.ts
Due: oidc

build(dependencies): sync package and package-lock
  package-lock.json
  package.json
Due: none

fix(oidc): remove possibility to set redirect_uri manually
  libs/oidc/src/oidc.module.ts
Due: oidc

fix(oidc): re-introduce redirectUriLogout
  libs/oidc/README.md
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
Due: oidc

use available function to get url origin
  libs/proxy/src/utils/url.utils.ts
Due: proxy

Remove userid
  libs/proxy/src/proxy.constants.ts
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
  package-lock.json
  package.json
Due: proxy

docs(proxy): Add examples for client side usage
  libs/proxy/README.md
Due: none

build(proxy): fix path so that assets get copied into dist
  nest-cli.json
Due: none

feat(oidc): add groups param in user info
  libs/oidc/CHANGELOG.md
  libs/oidc/package.json
  libs/oidc/src/strategies/oidc.strategy.ts
Due: oidc

fix(demo): fix origin param
  src/app.module.ts
Due: none

fix(proxy): return 404 instead of 500 when no serviceId found
  libs/proxy/CHANGELOG.md
  libs/proxy/src/services/proxy.service.spec.ts
  libs/proxy/src/services/proxy.service.ts
Due: proxy

feat(oidc): new endpoint user that returns user info
  libs/oidc/CHANGELOG.md
  libs/oidc/src/controllers/auth.controller.spec.ts
  libs/oidc/src/controllers/auth.controller.ts
Due: oidc

refactor(oidc): simplify userinfo methods
  libs/oidc/README.md
  libs/oidc/package.json
  libs/oidc/src/interfaces/oidc-module-options.interface.ts
  libs/oidc/src/strategies/oidc.strategy.spec.ts
  libs/oidc/src/strategies/oidc.strategy.ts
  libs/proxy/package.json
Due: oidc

build(oidc): bump package version
  libs/oidc/package.json
Due: none

ci(codecov): Remove auto comments from PRs
  codecov.yml
Due: none
